@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-cream text-gray-800 font-sans;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #faf5ef; /* matches cream background */
}
